.rp-dimension {
    display: flex;
    justify-content: center;
}

.rp-container,
.rp-container * {
    box-sizing: border-box;
}

.rp-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.rp-page {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    transform-origin: top left;
}

.rp-page, .rp-page * {
    overflow: hidden;
}

.rp-header {
    flex: 1 1 100%;
}

.rp-column {
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}


.rp-column img {
    display: block;
    margin: 0;
}

.rp-column [data-rp-display="none"] {
    display: none;
}

.rp-backdrop {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
}

.rp-spinner {
    width: 4rem;
    height: 4rem;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    animation: spin 0.5s cubic-bezier(0.35, 0.65, 0.35, 0.65) infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}