.pb-dimension {
    display: flex;
    justify-content: center;
}

.pb-container, .pb-container * {
    box-sizing: border-box;
}

.pb-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.pb-page {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    line-height: 1.4;
    background-color: white;
    box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    transform-origin: top left;
}


.pb-page * {
    line-height: inherit; 
    overflow: hidden;
}

.pb-column {
    background-color: aqua;
    flex: 1;
}

@page {
    size: A4 portrait;
    margin: 0;
    padding: 0;
  }

  .backdrop {  
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba( 0, 0, 0, 0.7 );
}

.spinner {
    width: 4rem;
    height: 4rem;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    animation: spin 0.5s cubic-bezier(.35,.65,.35,.65) infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

@media print {
    html,
    body,
    body * {
        visibility: hidden;
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
    }

    .pb-container, .pb-container * {
        visibility: visible;
    }
   
    .pb-container { 
        display: block !important;
        position: absolute !important; 
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
        border: none !important;
        outline: none !important;
    }

    .backdrop { 
        display: none;
     } 


    .pb-page {
        break-inside: avoid !important;
        page-break-after: always !important;
        box-shadow: none !important;
        transform: scale(1) !important;
        height: 297mm !important;
        width: 210mm !important;
    }
}
