.red {
  background-color: red;
  display: flex;
  width: 1000px;
  height: 2000px;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
  width: 200px;
}

.aqua {
  background-color: aqua;
}

.color {
  color: blueviolet;
}
